/*============ Обнуление================ */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*====================================================*/

body{
	font-family: 'Montserrat', sans-serif;
}

._container{
	max-width: 1200px;
	margin: 0 auto;
}

}

.blok{
	max-width: 100%;
	background: url(../img/photo.png) center;
	position: relative;
}

.blok::after{
	content: '';
	z-index: 1;
	background-color:rgba(30, 30, 30, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.header__container{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 0 0;
}

.header__logo{
	margin: 0 0 10px 0;
}


.menu__list{
	display: flex;
	margin: 50px 0 10px 0;
}

.menu__list li{
	margin: 0 25px 0 0;
	text-transform: uppercase;
	padding: 0 5px 3px 5px;
}

.menu__list li:last-child{
	margin: 0;
}


.menu__item{
	color: seashell;
	font-size: 13px;
	transition: .5s;
}

.menu__item:hover{
	transition: .3s;
	font-weight: 700;
	border-bottom: 1px solid white;
}

/* ---------------- */
.contact{
	margin: 30px 0 0 0;
	display: flex;
	flex-direction: column;
}

.contact__text{
	display: flex;
	justify-content: flex-end;
	font-size: 9px;
	color: white;
	text-transform: uppercase;
}

.contact__block{
	display: flex;
	border: 1px solid #F9AF41;
	border-radius: 6px;
}

.contact__img{
	margin: 3px;
}
.contact__namber{
	color: #F9B047;
	margin: 8px 3px 0 0;
}
/* ----------header--------------- */ 
.block__slogan{
	margin-top: 15%;
	text-align: center;
	position: relative;
	z-index: 2;
}

.block__title{
	font-family: lato;
	font-size: 29px;
	color: white;
	margin: 50px;
}

.block__title span{
	font-weight: 700;
}

.block__link{
	text-transform: uppercase;
	padding: 20px 40px;
	background-color: #F9AF41;
	color: white;
	border-radius: 10px;
	font-family: Montserrat;
	font-weight: 700;
	letter-spacing: 3px;
	display: inline-block;

	margin: 0 0 15% 0;
	transition: .5s;
	

}
.block__link span{
	border-bottom: 2px solid #F9AF41;
}

.block__link:hover{
	background-color: #EE9618;
	transition: 1s;
}

/* footer */

.footer-top{
	background-color: #3A3F44;
}

.footer__body{
	display: flex;
	justify-content: space-between;
}

.footer__nav{
	margin:auto 0;
}

.footer__nav-list li{
	display: inline-block;
}

.footer__nav-list li a{
	color: #BBBBBB;
	margin: 10px;
	font-size: 10px;
}

.footer__nav-list li a:hover{
	border-bottom: 1px solid;
}

.footer__info{
	padding: 0 0 0 10px;
	margin: 10px;
	border-left: 1px solid #BBBBBB;
	display: flex;
	flex-direction: column;
}

.wraper_logo {
	display: flex;
	justify-content: flex-end;
}

.asid__text{
	margin: 5px 0 0 0;
	display: flex;
	justify-content: flex-end;
	color: #BBBBBB;
}

.asid__nomber{
	display: flex;
	color: #BBBBBB;
	justify-content: flex-end;
}
.mail{
	margin: 5px 0 0 0;
	display: flex;
	color: #BBBBBB;
	justify-content: flex-end;
}


.socials{
	margin: 8px 0 0 0;
	display: flex;
	justify-content: space-between;
}


